<md-dialog aria-label="Course Modal">
    <form ng-cloak name="courseForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="white-color">{{modalTitle}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="close" style="fill: #fff" size="20"></ng-md-icon>
                    <md-tooltip md-direction="bottom">
                        {{"CLOSE_TOASTER" | translate}}
                    </md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-input-container class="md-icon-float md-block"
                                    ng-class="(model.Errors != null && model.Errors.Year) ? 'md-input-invalid' : ''">
                    <label>{{"STUDY_YEAR_LABEL" | translate}}</label>
                    <input required name="year" ng-model="model.Year" type="text">
                    <div ng-if="model.Errors.Year" class="error-msg">
                        {{model.Errors.Year}}
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block"
                                    ng-class="(model.Errors != null && model.Errors.Title) ? 'md-input-invalid' : ''">
                    <label>{{"TITLE" | translate}}</label>
                    <input required name="title" ng-model="model.Title" type="text">
                    <div ng-if="model.Errors.Title" class="error-msg">
                        {{model.Errors.Title}}
                    </div>
                </md-input-container>

                <md-input-container style="padding-bottom: 27px;" class="md-icon-float md-block"
                                    ng-class="(model.SemesterType != null && model.Errors.SemesterType) ? 'md-input-invalid' : ''">
                    <label>{{"SEMESTER" | translate}}</label>
                    <md-select ng-model="model.SemesterType" ng-model-options="{trackBy: '$value.Id'}" required>
                        <md-option ng-value="semesterType" ng-repeat="semesterType in semesterTypes">{{semesterType.Title}}</md-option>
                    </md-select>
                    <div ng-if="model.Errors.SemesterType" class="error-msg">
                        {{model.Errors.SemesterType}}
                    </div>
                </md-input-container>

                <md-input-container class="md-icon-float md-block"
                                    ng-if="states"
                                    ng-class="(model.State != null && model.Errors.State) ? 'md-input-invalid' : ''">
                    <label>{{"STATE" | translate}}</label>
                    <md-select ng-model="model.State" ng-model-options="{trackBy: '$value.Id'}" required>
                        <md-option ng-value="state" ng-repeat="state in states">{{state.Title}}</md-option>
                    </md-select>
                    <div ng-if="model.Errors.State" class="error-msg">
                        {{model.Errors.State}}
                    </div>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary white-color" ng-click="confirm(passwordForm)">
                {{"MODAL_CONFIRM_BUTTON" | translate}}
            </md-button>
            <md-button class="md-raised" ng-click="cancel()">
                {{"MODAL_CANCEL_BUTTON" | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>