<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <span> {{"COURSES_TAB_LABEL" | translate}}</span>

        <span flex></span>

        <md-button class="md-icon-button" ng-click="showFilters = !showFilters">
            <md-tooltip md-direction="bottom">
                {{"SHOW_FILTERS_LABEL" | translate}}
            </md-tooltip>
            <ng-md-icon icon="filter_list" style="fill: #868686" size="24"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="openPageModal($event, null)">
            <md-tooltip md-direction="bottom">
                {{"ADD_COURSE_LABEL" | translate}}
            </md-tooltip>
            <ng-md-icon icon="add" style="fill: #868686" size="24"></ng-md-icon>
        </md-button>
    </div>
    <div class="md-toolbar-tools"
         style="border-top: 1px solid #E6E6E6; font-size: 15px; "
         ng-show="showFilters">
        <span>{{"SEARCH_FILTERS" | translate}}</span>

        <md-input-container md-no-float class="md-block" style="padding: 0 20px 0 40px; ">
            <input ng-model="query.SearchText" style="min-width: 300px; margin-top: 24px"
                   ng-model-options="{ debounce: 300 }" placeholder="{{searchLabel}}">
        </md-input-container>

        <span flex></span>

        <md-button class="md-icon-button" ng-click="reloadTable()">
            <md-tooltip md-direction="bottom">
                {{"RESET_FILTERS_LABEL" | translate}}
            </md-tooltip>
            <ng-md-icon icon="refresh" style="fill: #868686" size="24"></ng-md-icon>
        </md-button>
    </div>
</md-toolbar>
<md-table-container>
    <table data-md-table md-progress="promise">
        <thead ng-if="!options.decapitate" md-head md-on-reorder="onReorder">
            <tr md-row>
                <th md-column><span>{{"TITLE" | translate}}</span></th>
                <th md-column><span>{{"YEAR" | translate}}</span></th>
                <th md-column><span>{{"STATE" | translate}}</span></th>
                <th md-column><span>{{"SEMESTER" | translate}}</span></th>
                <th md-column><span>{{"SEMESTER" | translate}}</span></th>
                <th md-column style="width: 1%; text-align: center"><span>{{"ACTIONS_LABEL" | translate}}</span></th>
            </tr>
        </thead>
        <tbody md-body>
            <tr md-row data-ng-repeat="page in pages">
                <td md-cell>{{page.Title}}</td>
                <td md-cell>{{page.Url}}</td>
                <td md-cell>{{page.UrlId}}</td>
                <td md-cell>{{page.FbId || "-"}}</td>
                <td md-cell>{{page.FbType || "-"}}</td>
                <td md-cell style="width: 1%; text-align: center">
                    <table ng-if="course.State.Id !== 3">
                        <tr>
                            <td>
                                <md-button class="md-icon-button" ng-click="openPageModal($event, page)">
                                    <md-tooltip md-direction="bottom">
                                        {{"ADD_COURSE_MEMBERS_LABEL" | translate}}
                                    </md-tooltip>
                                    <ng-md-icon icon="group_add" style="fill: #868686"></ng-md-icon>
                                </md-button>
                            </td>
                            <td>
                                <md-button class="md-icon-button" ng-click="deletePage($event, page)">
                                    <md-tooltip md-direction="bottom">
                                        {{"DELETE_COURSE_LABEL" | translate}}
                                    </md-tooltip>
                                    <ng-md-icon icon="delete" style="fill: #868686"></ng-md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </table>
                    <span ng-if="course.State.Id === 3">
                        <ng-md-icon icon="do_not_disturb" style="fill: #acacac" size="20"></ng-md-icon>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
</md-table-container>
<data-md-table-pagination md-limit="query.ItemsPerPage"
                          md-limit-options="limitOptions"
                          md-page="query.CurrentPage"
                          md-total="{{totalRecords}}"
                          md-on-paginate="onPaginate"
                          md-page-select="options.pageSelect"
                          md-boundary-links="options.boundaryLinks">
</data-md-table-pagination>