<md-dialog aria-label="Confirmation Modal">
    <form ng-cloak name="confirmationForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="white-color">{{modalTitle}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <ng-md-icon icon="close" style="fill: #fff" size="20"></ng-md-icon>
                    <md-tooltip md-direction="bottom">
                        {{"CLOSE_TOASTER" | translate}}
                    </md-tooltip>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" style="min-height: 70px">
                <span>{{modalMessage}}</span>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button class="md-raised md-primary white-color" ng-click="confirm(confirmationForm)">
                {{"YES_LABEL" | translate}}
            </md-button>
            <md-button class="md-raised" ng-click="cancel()">
                {{"NO_LABEL" | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>