<md-toolbar class='md-medium-tall'>
    <div class="md-toolbar-tools">
        <md-button hide-gt-sm
                   ng-click="toggleSidenav()"
                   class="md-icon-button" aria-label="Toggle Button">
            <ng-md-icon icon="menu" style="fill: white"></ng-md-icon>
        </md-button>
        <img src="/Content/img/filter-logo.png" width="145" height="65" />
        <h2 class="md-display-1" style="padding-left: 25px">
            <span class="white-color">{{"HEADER_LOGO_TEXT" | translate}}</span>
        </h2>
        <span flex></span>
    </div>
</md-toolbar>