<md-card style="min-height: 630px">
    <md-card-content style="padding: 16px; margin: auto">
        <div class="not-found-page-wrapper">
            <div class="not-perrmision-image"></div>
            <div class="not-found-message-wrapper">
                <div class="not-found-message">
                    {{"NO_PERRMISION_MESSAGE" | translate}}
                </div>
                <div class="not-found-action">
                    <md-button class="md-raised">
                        <a href="" ui-sref="home">
                            <ng-md-icon icon="home" style="fill: #4C4C4C" size="20"></ng-md-icon>
                            <span>{{"NOT_FOUND_ACTION" | translate}}</span>
                        </a>
                    </md-button>
                </div>
            </div>
        </div>
    </md-card-content>
</md-card>