
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}

<script>
    var errorMsg = '@ViewBag.Name';
</script>

@using (Html.BeginForm("ChangePassword", "Account", new { Token = ViewBag.Token },
                       FormMethod.Post, new { @class = "layout-column" }))
{
    <div style="padding-bottom: 55px; text-align: center">
        <ng-md-icon icon="security" style="fill: #868686; margin-right: 55px" size="80"></ng-md-icon>
    </div>
    <form role="form">
        <md-input-container>
            <label>{{newPasswordLabel}}</label>
            @Html.Password("test")
        </md-input-container>
        <md-input-container>
            <label>{{retypePassword}}</label>
            @Html.Password("test 2")
        </md-input-container>
        <md-input-container style="margin-top: 15px !important">
            <md-button type="submit" class="md-raised md-primary" style="margin: 0; width: 100%; color: #fff">
                {{changePasswordBtnTxt}}
            </md-button>
        </md-input-container>
    </form>
}

