
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}

<script>
    var errorMsg = '@ViewBag.Name';
</script>

@using (Html.BeginForm("ForgotPassword", "Account", null,
                       FormMethod.Post, new { @class = "layout-column" }))
{
    <div style="padding-bottom: 55px; text-align: center">
        <ng-md-icon icon="help" style="fill: #868686; margin-right: 55px" size="80"></ng-md-icon>
    </div>
    <form role="form">
        <md-input-container>
            <label>{{userNameLabelTxt}}</label>
            @Html.TextBox("test")
        </md-input-container>
        <md-input-container style="margin-top: 15px !important">
            <md-button type="submit" class="md-raised md-primary" style="margin: 0; width: 100%; color: #fff">
                {{sendRequestTxt}}
            </md-button>
        </md-input-container>
        <div style="text-align: center; padding-top: 10px;">
            <md-button class="md-fab md-mini md-hue-2" ng-click="backToLogin()">
                <md-tooltip md-direction="bottom">
                    {{backTooltip}}
                </md-tooltip>
                <ng-md-icon icon="arrow_back" style="fill: #4C4C4C"></ng-md-icon>
            </md-button>
        </div>
    </form>
}